$logoFont: "Russo One", sans-serif;
$mainFont: "Roboto", sans-serif;
$navColor: cadetblue;
$fontColor: #484848;
$cardColor: #cccccc;
$pFont: 0.9rem;
$inputFont: 0.8rem;
$detailsFont: 1.2rem;
$secondTitle: 1.5rem;
$thirdTitle: 3.3rem;
$typeIcon: 2rem;
